1. What are data structures, and why are they important?

A. Data structures are organized ways to store, manage, and retrieve data efficiently in computer programs.
they are important because
- Efficiency
- Organization
- Scalability

2. Explain the difference between mutable and immutable data types with examples.
mutable data types:
- they can be changed even after creation
- it updates in-place
- example: list, set dict
immutable data types:
- they cannot be changed after creation
- it creates a new object on change
- example: tuple, int, float, str

3. What are the main differences between lists and tuples in Python?

A. List:
A list is mutable, which means you can change its content after it's created — you can add, remove, or modify elements. Lists use square brackets [] and support many built-in methods like append(), remove(), and sort().
Tuple:
a tuple is immutable, meaning once it's created, it cannot be modified. Tuples use parentheses () and support fewer methods, such as count() and index().

4. Describe how dictionaries store data

A. dictionaries store data as key-value pairs using a structure called a hash table. The key must be immutable (like strings, numbers, or tuples), while the value can be of any data type.

5. Why might you use a set instead of a list in Python

A. we might use a set instead of a list in Python when you need to store a collection of unique elements and perform fast membership checks. Unlike lists, sets automatically eliminate duplicate values, making them ideal for situations where uniqueness matters, such as removing repeated items from a dataset.

6. What is a string in Python, and how is it different from a list

A.  string is a sequence of character which represents and manipulate textual data. it is a unit of text
- strings are immutable, meaning you cannot change individual characters after the string is created. In contrast, lists are mutable, so you can modify, add, or remove elements freely. Second, a string is a sequence of characters only, while a list can hold any type of data, such as numbers, strings, booleans, or even other lists.

7.  How do tuples ensure data integrity in Python

A. Python ensure data integrity through their immutability. Once a tuple is created, its contents cannot be changed, which helps prevent accidental modifications. This immutability ensures that data stored in tuples remains consistent throughout the program, reducing the risk of bugs or unintended changes. because tuples are immutable, they can be used as keys in dictionaries, unlike lists.

8. What is a hash table, and how does it relate to dictionaries in Python

A. A hash table is a data structure that stores key-value pairs, where each key is hashed using a hash function to determine its position in an underlying array or list.
-In Python, dictionaries are implemented using hash tables. When you create a dictionary and insert key-value pairs, Python uses a hash function to compute a hash value for each key. This hash value determines where the key-value pair is stored in memory.

9. Can lists contain different data types in Python

A. Yes, lists in Python can contain different data types. A single list can hold elements of various types, such as integers, strings, booleans, floats, other lists, or even objects of custom classes. This flexibility is one of the key features of lists in Python.

10.  Explain why strings are immutable in Python

A. Since strings cannot be changed once created, Python can optimize memory usage by reusing the same string objects when identical values are encountered. This immutability also allows strings to be hashable, meaning they can be used as keys in dictionaries and elements in sets, since their value remains constant throughout their lifetime.

11. What advantages do dictionaries offer over lists for certain tasks

A. Dictionaries offer several advantages over lists for certain tasks, particularly when it comes to efficiency and data organization. One of the key advantages is faster lookups, as dictionaries allow for constant-time access (O(1)) through their unique keys, making it much quicker to retrieve values compared to lists, which require iterating through each element.
-Dictionaries also provide efficient storage and organization through key-value pairs, allowing data to be directly mapped with an identifier, whereas lists rely on the position of elements.

12. Describe a scenario where using a tuple would be preferable over a list
In real life, a great scenario of when to use a tuple instead of a list is when representing a person's date of birth. A date is a fixed, immutable set of information: the year, month, and day. Once set, these values should not change. Using a tuple ensures the data integrity of the date, as tuples are immutable and cannot be accidentally modified.

13. How do sets handle duplicate values in Python

A. In Python, sets automatically handle duplicate values by removing them. When you try to add a duplicate value to a set, it will not be added again, ensuring that each element in the set is unique.

14.  How does the “in” keyword work differently for lists and dictionaries

A. For lists, the in keyword checks whether a specific value exists in the list by iterating through each element. It returns True if the value is found, and False otherwise.
 for dictionaries, the in keyword checks whether a specific key exists in the dictionary, not the value. This check is performed efficiently using a hash table.
 Therefore, while the in keyword in lists searches for values, in dictionaries it searches for keys.

15. Can you modify the elements of a tuple? Explain why or why not

A. No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its contents are fixed and cannot be changed, added to, or removed.

16. What is a nested dictionary, and give an example of its use case

A. A nested dictionary in Python refers to a dictionary where the values themselves are also dictionaries. Essentially, it's a dictionary inside another dictionary, allowing for more complex data structures to be represented.

17. Describe the time complexity of accessing elements in a dictionary

A.  The time complexity of accessing elements in a Python dictionary is generally O(1) on average. This is because Python dictionaries are implemented using a hash table, which allows for very fast lookups based on keys.

18.  In what situations are lists preferred over dictionaries

A. Lists are preferred over dictionaries in situations where you need an ordered collection of items, as lists preserve the order of elements as they were inserted. They are also ideal when you need to access elements by index or when you have a sequence of data that doesn't require key-value pairs. Lists allow duplicate values, making them suitable for cases where repeated elements are expected, such as in survey responses or multiple occurrences of a value.

19. Why are dictionaries considered unordered, and how does that affect data retrieval

A. Dictionaries in Python are considered unordered because they do not guarantee the order of the keys and values. This characteristic arises from the underlying hash table implementation that dictionaries use. In a hash table, the keys are hashed into indices that determine where the corresponding values are stored in memory. The process of hashing does not maintain any specific order of the items, so when you iterate over a dictionary, the order in which the items appear may not reflect the order in which they were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval

A. In a list, elements are accessed using integer indices that represent their position in the sequence.
In contrast, a dictionary stores data as key-value pairs, and elements are accessed by their unique keys rather than positions.

In [3]:
#1. Write a code to create a string with your name and print it
name = "Srilatha"
print(name)

Srilatha

In [4]:
#2. Write a code to find the length of the string "Hello World"
string="hello world"
print(len(string))

11

In [5]:
#3. Write a code to slice the first 3 characters from the string "Python Programming
string="python programming"
print(string[0:3])

pyt

In [6]:
#4. Write a code to convert the string "hello" to uppercase
string="hello"
print(string.upper())

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [8]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [12]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [13]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [14]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple=('red','green','blue','yellow')
print(tuple[-2])

blue

In [16]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("The minimum number is:", minimum)

The minimum number is: 5

In [17]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [18]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [19]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [20]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [21]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [22]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [23]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [24]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [25]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("The name is:", name_value)

The name is: Alice

In [27]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

In [28]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [31]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 30}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 30}

In [32]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()

print("Random numbers:", random_numbers)

Random numbers: [12, 22, 55, 59, 59]

In [33]:
#28.  Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print("The third element is:", third_element)

The third element is: cherry

In [34]:
#29.  Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [64]:
#30.  Write a code to convert a list of strings into a set.
numbers = {"1", "2", "3", "2", "1"}
print(numbers)

{'3', '2', '1'}